.addFighterDiv {
  /* border: 1px solid blue; */
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.displayFighterDiv {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url('./images/Banner\ Art.jpg');
}

